/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body{
    background-color: #f0f1f3;
    font-family: 'Roboto', sans-serif;

}
h3{
    font-weight: 600;
}